.hero{
    background: $dark-bg-color;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    #2f303a66),
    url(../../images/Img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        }

    &__title{
        margin: 0 auto;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
       color: $native-color;
        text-transform: uppercase;
        }
    
    &__button {
        margin-top: 30px;
        padding: 10px 32px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: $native-color;
        background: $accent-color;
        box-shadow: 0px 4px 4px $text-btn-color;
        border-radius: 4px;
        }
    }
    
    
    
    
    