$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;


$title-text-color: #212121;
$accent-color: #2196F3;
$text-color: #757575;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$dark-bg-color: #2F303A;
$bg-btn-portfolio: #F5F4FA;
$text-btn-color: rgba(0, 0, 0, 0.15);
$card-color: #EEEEEE;
$border-color:#ECECEC;
$icons-color: #AFB1B8;
$native-color: #FFFFFF;